footer{
  display: flex;
  align-items: center;
  margin: 0 -10em;
  padding: 2em 10em;
  justify-content: space-between;
  margin-top: 15em;
  background-color: #07073F;
}
footer .logo_footer{
  display: flex;
  position: relative;
  left: 10em;
  top: 1em;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.logo_footer img{
  width: 2em;
  padding: 0.8em;
 
}
.nav_footer{
  display: flex;
  gap: 1em;
}
.nav_footer a{
  font-size: 0.8em;
  color: #fff;
}
.nav_footer::before{
  content: "";
  position: absolute;
  width: 40em;
  height: 0.2em;
  margin-top: 1.5em;
  margin-left: -1em;
  z-index: 1;
  background-color: rgb(232, 235, 45);
}
.rede_social{
  display: flex;
  margin-right: 10em;
  align-items: center;
  gap: 1em;
}
.rede_social img{
  z-index: 1;
}
.elipse{
  position: absolute;
  width: 30em;
  height: 24em;
  z-index: 0;
  margin-top: -12.6em;
  margin-left: -5em;
  background-image: url(img/Ellipse.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {
  footer .logo_footer{
      position: relative;
      left: 2em;
  }
  .nav_footer::before{
      width: 40em;
  }
  .elipse{
      width: 30em;
      height: 23em;
      margin-top: -11.8em;
      margin-left: -6.4em;
  }
}
@media (max-width: 1070px) {
  footer  .logo_footer{
      left: -2em;
  }
  .rede_social{
      position: relative;
      left: 10em;
  }
  .nav_footer::before{
      width: 34em;
  }
  .elipse{
      width: 25em;
      height: 18em;
      margin-top: -6.8em;
      margin-left: -11.4em;
  }
}
@media (max-width: 900px) {
  .nav_footer a{
      font-size: 0.7em;
  }
}