header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 5em;
}
.pesquisa{
 display: flex;
}
.pesquisa input{
    width: 32em;
    height: 1em;
    padding: 0.8em;
    border: 0.1em solid #0A0A42;
    border-radius: 0.5em 0 0 0.5em;
}
.pesquisa input:focus{
    outline: none;
}
.pesquisa a, nav a {
    border-radius: 0 0.5em 0.5em 0;
    padding: 0.6em 1em;
    color: #fff;
    background-color: #0A0A42;
}
img{
    width: 2em;
}
.perfil, .carrinho{
    display: flex;
    align-items: center;
    gap: 0.6em;
}
.perfil a, .carrinho a {
    color: #000;
    font-weight: 600;
}
nav{
    display: flex;
    font-size: 0.7em;
    justify-content: space-evenly;
    padding: 1.3em 30em;
    margin: 0 -14em;
    background-color: #0A0A42;
}

@media (max-width: 1300px){
    .logo{
        width: 4.5em;
    }
    header a {
        font-size: 0.8em;
    }
    .pesquisa input{
        width: 20em;
        height: 0.6em;
    }
    img{
        width: 1.3em;
    }
    .perfil, .carrinho{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        font-size: 0.8em;
    }
    .perfil img, .carrinho img{
        width: 1em;
    }
}
@media (max-width: 1070px) {
    body{
        margin: 0 5em;
    }
    .pesquisa input{
        width: 12em;
    }
}